body {
  background-color: #fff;
}

.recline-data-explorer{
  position: relative;
  overflow: auto;
}

.loading-dialog {
  width: 120px;
}

.recline-slickgrid {
  height: 600px;
}

.recline-timeline .vmm-timeline {
  height: 600px;
}

.loading-spinner {
  float: right;
  background-image: url('../img/ajaxload-circle.gif');
  width: 32px;
  height: 32px;
}
            
.divDemoBody  {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
   
.divDemoBody p {
    font-size: 18px;
    line-height: 140%;
    padding-top: 12px;
}

.divDialogElements input {
    font-size: 18px;
    padding: 3px; 
    height: 32px; 
    width: 500px; 
}

.divButton {
    padding-top: 12px;
}


.contextMenu {
  background: #fff;
  border: 1px solid gray;
  padding: 2px;
  display: inline-block;createJSON
  min-width: 100px;
  /*-moz-box-shadow: 2px 2px 2px silver;*/
  /*-webkit-box-shadow: 2px 2px 2px silver;*/
  z-index: 99999;
}

.contextMenu li {
  padding: 4px 4px 4px 14px;
  list-style: none;
  cursor: pointer;
  /*background: url("images/arrow_right_blue.png") no-repeat center left;*/
}

.contextMenu li:hover {
  color:#fff;
  /*background: url("images/arrow_right_white.png") no-repeat center left;*/
  background-color: #4e59a4;
}

.contextMenu hr {
  margin:3px;
}
