html{
    overflow-y: hidden;
}

body {
  background-color: #fff;
}

.recline-data-explorer{
  position: relative;
  overflow: hidden;
}

#saveButtons{
	float:right;
}

#reclineinterlink{
	float:left;
    width:100%; 
    overflow-y: auto;
}


.loading-dialog {
  width: 120px;
}

.recline-slickgrid {
  min-height: 530px;
  height: 530px;
}

.recline-timeline .vmm-timeline {
  height: 650px;
}

.loading-spinner {
  float: right;
  background-image: url('../img/ajaxload-circle.gif');
  width: 32px;
  height: 32px;
}
            
.divDemoBody  {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
   
.divDemoBody p {
    font-size: 18px;
    line-height: 140%;
    padding-top: 12px;
}

.divDialogElements input {
    font-size: 18px;
    padding: 3px; 
    height: 32px; 
    width: 500px; 
}

.divButton {
    padding-top: 12px;
}

.btn{
    background-image: none;
    border-radius:0;
    box-shadow: none;
}

.btn-group .btn:last-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.recline-slickgrid .slick-header-columns .slick-header-column{
    background: '#666';
    background-image: none;
}

.btn-group .btn:first-child{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.modal{
    border-radius: 0;
}

/* Style for recline-interlinking */
.contextMenu {
  background: #fff;
  border: 1px solid gray;
  padding: 2px;
  display: inline-block;
  min-width: 100px;
  z-index: 99999;
  display:none;
  position:absolute;
}

.contextMenu li {
  padding: 4px 4px 4px 14px;
  list-style: none;
  cursor: pointer;
  background: url("../img/arrow_right_blue.png") no-repeat center left;
}

.contextMenu li.abort {
  padding: 4px 4px 4px 14px;
  list-style: none;
  cursor: pointer;
  background: url("../img/arrow_right_red.png") no-repeat center left;
}

.contextMenu li:hover {
  color:#fff;
  background: url("../img/arrow_right_white.png") no-repeat center left;
  background-color: #4e59a4;
}

.contextMenu li.abort:hover{
	background-color: #C43210 !important;
}

.contextMenu hr {
  margin:3px;
}

.interlinkingResult {
    background-color: #C6CAE2 !important;
}

.interlinkingScore {
    background-color: #D4D7E9 !important;
}

.InterlinkingAuxField {
    background-color: #E3E5F1 !important;
}

.InterlinkinCheckedFlag {
    background-color: #D4D7E9 !important;
}




