[IE conditional]

lte IE 7 =
    vendor/json/json2.js

lte IE 8 =
    vendor/flot/excanvas.js
    vendor/leaflet/0.4.4/leaflet.ie.css
    vendor/leaflet.markercluster/MarkerCluster.Default.ie.css

[depends]

main = base/main

[groups]

read =
    vendor/underscore/1.4.2/underscore.js
    vendor/backbone/0.9.2/backbone.js
    vendor/mustache/0.5.0-dev/mustache.js
    vendor/bootstrap/2.0.2/bootstrap.js
    vendor/json/json2.js
    vendor/slickgrid/jquery-ui-1.8.16.custom.js
    vendor/slickgrid/jquery.event.drag-2.2.js

    vendor/slickgrid/slick.core.js
    vendor/slickgrid/slick.grid.js
    vendor/slickgrid/slick.formatters.js
    vendor/slickgrid/slick.editors.js
    vendor/moment/1.6.2/moment.js

    vendor/recline/recline.js
    
    translate_helpers.js

    vendor/bootstrap/2.0.2/css/bootstrap.css
    vendor/slickgrid/slick.grid.css
    vendor/recline/recline.css

    css/recline.css

    
edit = 
    vendor/underscore/1.4.2/underscore.js
    vendor/backbone/0.9.2/backbone.js
    vendor/mustache/0.5.0-dev/mustache.js
    vendor/bootstrap/2.0.2/bootstrap.js
    vendor/json/json2.js
    vendor/slickgrid/jquery-ui-1.8.16.custom.js
    vendor/slickgrid/jquery.event.drag-2.2.js

    vendor/slickgrid/slick.core.js
    vendor/slickgrid/slick.grid.js
    vendor/slickgrid/slick.formatters.js
    vendor/slickgrid/slick.editors.js
    vendor/moment/1.6.2/moment.js

    vendor/recline/recline_edit.js
    
    ckan_custom_edit.js
    translate_helpers.js
    preview_recline_edit.js

    vendor/bootstrap/2.0.2/css/bootstrap.css
    vendor/slickgrid/slick.grid.css
    vendor/recline/recline.css

    css/recline.css
    

