{% extends "dataviewer/base.html" %}
{% block page %}
<div id="windowTitleDialog" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="windowTitleLabel" aria-hidden="true">
        </div>
        <!-- <a data-toggle="modal" id="button" href="#windowTitleDialog" class="btn btn-primary btn-large">Click</a> -->
        
        <ul id="interlinkingHandling" class="contextMenu">
			    <li id="finalizeOption">{{ _('Finalize interlinking') }}</li>
			    <li id="abortOption" class="abort">{{ _('Abort interlinking') }}</li>
		</ul>
		<ul id="termsMenu" class="contextMenu">
		</ul>
		<ul id="matchingTermsMenu" class="contextMenu">
		</ul>
        <div id="saveButtons"> 
       		<a href="#" class="btn btn-primary" id="finalizeClicked">{{ _('Finalize') }}</a> 
       		<a href="#" class="btn btn-primary" id="abortClicked">{{ _('Abort') }}</a> 
       	</div>
		<div id="reclineinterlink"
			data-module="recline_interlink_preview" 
			data-module-site_url="{{ h.dump_json(h.url('/', locale='default', qualified=true)) }}">
        <h4 class="loading-dialog">
        	<div class="loading-spinner"></div>
      		<div class="left">{{ _('Loading...') }}</div>
    	</h4>
</div>
  
<div id="popup"></div>
  

  {% resource 'ckanext-interlinking/edit' %}
{% endblock %}
